.card {
    display: flex;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 60%;
    border-radius: 15px;
  }
  
  .card:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  
  .container {
    padding: 10px 16px;
    
  }
  
  .container2 {
    vertical-align:top;
    padding: 20px 16px;
  }