* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forms {
  top: 30px;
  background: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 35%;
  zoom: 0.9;
}

.vice{
  margin-left: 200px;
  margin-bottom: 30px;
}

#rowId{
  background-color: #000000;
  color: white;
  margin: 5px;
  width: 40%;
}

#role{

  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  border: 3px solid #000000;
  border-radius: 5px;
  color: #000000;
  
  

}

.forms h1 {
  font-size: 24px;
  color: #666;
  font-weight: bold;
  text-align: center;
}

.forms form {
  padding: 30px;
}

#signup {
  display: none;
}

.forms .tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.forms .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.forms .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #888;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  border-bottom: 0.2px solid transparent;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.forms .tab-group li a:hover {
  background: #dedfdf;
  color: #666;
}

.forms .tab-group .active a {
  background: #fff;
  color: #444;
  border-bottom: 1px solid #000000;
}

.forms input {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #666;
  margin-bottom: 40px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
}

.forms input:focus {
  outline: 0;
  border-color: #000000;
}

.forms label {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  display: block;
}

.forms .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid #000000;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.forms .button:hover,
.button:focus {
  background: #000000;
  color: white;
}

.text-p {
  text-align: center;
}

.text-p a {
  color: #1383ea;
}

::placeholder {
  opacity: 0.7;
}

hr {
  border-top: 0.1px solid black;
  width: 50%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: Black;
  color: white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: Black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 30px;
}

select {
  color: #666;
  border: 1px solid #aaa;
}

.warning {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin: 20px;
  opacity: 0.8;
}

#loginpage {
  border-bottom: #000000 0.2vw solid;
}

@media screen and (max-width: 992px) {
  .forms {
    zoom: 0.8;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .forms {
    float: none;
    margin: 30px auto;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .forms {
    zoom: 0.7;
    width: 80%;
  }
  .forms h1 {
    font-size: 22px;
    color: #666;
  }
}

.muted-text {
  color: #aaa;
  font-size: 14px;
}

.loginDiv {
  min-height: "95vh";
  background-repeat: "no-repeat";
  background-size: "cover";
  margin: auto;
  background-attachment: "fixed";
  background-image: 'url("login-background.jpg")';
}
