@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lora:ital@0;1&family=Montserrat&family=Montserrat+Alternates&family=Neonderthaw&family=Poppins:wght@500&family=Raleway&family=Roboto+Slab&family=Russo+One&display=swap");
header {
  box-shadow: 5px 5px 5px rgb(243, 243, 243);
  z-index: 9999;
  position: sticky;
  margin-top: 0;
  padding-top: 0;
  top: 0;
  place-items: center;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.logoImg {
  width: 40px;
  margin-left: 10px;
  margin-right: 0;
}
header h1 {
  left: 0;
  margin-right: 100px;
  font-family: "montserrat";

  font-size: 26px;
  margin-top: auto;
  margin-bottom: auto;
}

.navBtn {
  height: 80px;
  margin: 0;
  background-color: #fff;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "montserrat";
  transition: 0.4s ease-out;
}

.active > button:hover {
  box-shadow: inset 0 0 0 0 rgb(240 240 256) !important;
}

.navBtn:hover {
  box-shadow: inset 0 40px 40px 0 rgb(240 240 256);
}

.active > button {
  background-color: black;
  color: white;
}

/*.nav-div .navbar-dropdown ul {
  background: white;
  min-width: 8rem;
  position: relative;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  list-style-type: none;
  border: 1px solid black;
}

.nav-div .navbar-dropdown:hover > ul,
.nav-div .navbar-dropdown > ul:hover {
  display: block;
}

.nav-div .navbar-dropdown > ul li {
  clear: both;
}
*/
.dropdown-menu {
  width: 200px;
  text-decoration: none;
}

.dropdown-menu .nav-link {
  text-align: left;
  color: black;
}

.dropdown-menu .active {
  background-color: black;
  color: white;
}

.dropdown-menu .nav-link:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
